h1{color:rgb(248, 116, 171)}
h2{color:rgb(248, 116, 171);}
body{background: rgb(247,202,238);
    background: linear-gradient(90deg, rgba(247,202,238,1) 8%, rgba(134,140,255,1) 75%);;}
    img{max-width: 40%;
    height: auto;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 8px;}
h3{color:rgb(248, 116, 171)}
h4{color:rgb(248, 116, 171)}
h5{color:rgb(248, 116, 171)}
h6{color:rgb(248, 116, 171)}
header{background: }
.zeus{margin: auto;
border:3px solid #ffff;
padding: 5px;
width: 25%;}
.afrodite{margin: auto;
    border:3px solid #ffff;
    padding: 5px;
    width: 25%;}
    .algo{margin: auto;
        border:3px solid #ffff;
        padding: 5px;
        width: 25%;}